body {    
  background-color: #E9F6F5;  
}

.menu{
  width:100%;
  height:5%;
  background-color: #4267b2;
  padding: 1em;
}

.menu select{
  width: 50%;
}

.activities-photos {
  margin-top: 1.5em;   
  height: 270px;
  width: 270px;  
  background-size: cover; 	
  border-radius: 1em;  
  position: relative; 
}

.title{
  position: absolute;
  font-weight: bold;  
  color: #000;   
  top: 10.5em;
  left: 3em;
  font-family: "open-sans", sans-serif;
}

.aero-gym{
  background-image: url("../../img/activities/aero-gym.jpeg");      
  margin-bottom: 1.5em;
}

.stretching{
  background-image: url("../../img/activities/stretching.jpg");  
  margin-bottom: 1.5em;
}

.ballet{
  background-image: url("../../img/activities/ballet.jpeg");
  margin-bottom: 1.5em;
}

.boxing{
  background-image: url("../../img/activities/boxing.jpeg");
  margin-bottom: 1.5em;
}

.circuit{
  background-image: url("../../img/activities/circuit.jpg");
  margin-bottom: 1.5em;		 
}

.cross{
  background-image: url("../../img/activities/cross.png");	
  margin-bottom: 1.5em;	 	
}

.belly-dance{
  background-image: url("../../img/activities/belly-dance.jpeg");
  margin-bottom: 1.5em;		 	
}

.fit-dance{
  background-image: url("../../img/activities/fit-dance.jpeg");	
  margin-bottom: 1.5em;	 	
}

.fit-jump{
  background-image: url("../../img/activities/fit-jump.jpeg");	
  margin-bottom: 1.5em;	 	
}

.fit-step{
  background-image: url("../../img/activities/fit-step.jpeg");
  margin-bottom: 1.5em;		 	
}

.gap{
  background-image: url("../../img/activities/gap.jpg");
  margin-bottom: 1.5em;		 	
}

.hidro{
  background-image: url("../../img/activities/hidro.jpg");
  margin-bottom: 1.5em;		 	
}

.jiu{
  background-image: url("../../img/activities/jiu.jpg");
  margin-bottom: 1.5em;		 	
}

.kung-fu{
  background-image: url("../../img/activities/kung-fu.jpg");	
  margin-bottom: 1.5em;	 	
}

.localized{
  background-image: url("../../img/activities/localized.jpg");
  margin-bottom: 1.5em;		 	
}

.move-dance{
  background-image: url("../../img/activities/move-dance.jpg");	
  margin-bottom: 1.5em;	 	
}

.thay{
  background-image: url("../../img/activities/thay.jpeg");
  margin-bottom: 1.5em;		 	
}

.weightlifting{
  background-image: url("../../img/activities/weightlifting.jpeg");	
  margin-bottom: 1.5em;	 	
}

.swimming{
  background-image: url("../../img/activities/swimming.jpeg");
  margin-bottom: 1.5em;		 	
}

.pilates{
  background-image: url("../../img/activities/pilates.jpeg");	
  margin-bottom: 1.5em;	 	
}
