.banner {	
	background-image: url("../../img/main/header-photo.jpg");
	background-size: cover;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -1.4em;
}

.logo{
	display: flex;
	flex-direction: row;
	justify-content: center;	
}

.logo img{
	width:20%;
	height:20%;
	border-radius: 20px;
	margin-left: 1em;
}